* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

$main-color: red;
$default-color: gold;
$square-size: 50px;

$colors: (
	main: red,
	opt: lime,
);

body {
	background-color: #333;
}

.box {
	width: $square-size;
	height: $square-size;
	border: 3px solid black;
	margin: 20px auto;
	border-radius: 15px;
}

.color-main {
	background-color: $main-color;
}

.color-opt {
	background-color: $default-color;
}

.color-alt {
	background-color: map-get($colors, opt);
}
