body {
	background-color: #fff;
	display: flex;
	justify-content: center;
    align-items: center;
	height: 100vh;
	p {
		text-decoration: underline;
	}
}

nav {
	ul {
		font-style: 30px;
		ul {
			a {
				text-decoration: none;
			}
		}
	}
}
