* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 20px;
    font-size: 18px;
    height: 100vh;
    background-color: #333;
    color: white;
}

.normal-p {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.italic-p {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: italic;
}

.bold-text {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.formatted-p {
    color: gold;
    text-align: center;
    text-decoration: underline;
}

.formatted-a {
    color: white;
    text-decoration: none;
}

.small {
    text-transform: uppercase;
    font-size: 10px;
}

.big {
    text-transform: uppercase;
    font-size: 20px;
}

.text {
     text-transform: capitalize;
     text-shadow: 5px 5px 5px white;
}

.centered-box {
    line-height: 200px;
    text-align: center;
    height: 200px;
    background-color: royalblue;
    margin-top: 30px;
}

