* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
}

section {
    scroll-margin-top: 65px;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

/* navigation */
.nav {
    position: sticky;
    top: 0;
    height: 60px;
    background-color: #ddd;
    text-align: center;
    line-height: 60px;
    font-size: 0px;
    z-index: 10;
}

.nav-items {
    display: none;
}

.nav-items a {
    padding: 0 50px;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    transition: color 0.3s;
}

.nav-items a:hover {
    color: #0086f3;
}

.burger-icon {
    display: block;
    margin-left: auto;
    padding: 0 30px;
    font-size: 30px;
    border: none;
    background: none;
    line-height: 60px;
    cursor: pointer;
}

/* header */
.header {
    position: relative;
    height: 300px;
    background-image: url('../static/path-gcae_640.jpg');
    background-size: cover;
    background-position: 0 50%;
}

.header-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.header-text h3 {
    margin-bottom: 10px;
    font-size: 18px;
    transition: font-size 0.3s;
}

.passion:hover h3 {
    font-size: 24px;
}

.header h1 {
    margin-bottom: 5px;
    letter-spacing: 1px;
    text-shadow: 3px 3px 5px #000;
    color: #ddd;
    font-size: 24px;
}

.header span {
    text-transform: uppercase;
    color: #0086f3;
}

.header-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 40%);
}

.header p {
    text-align: center;
    font-size: 16px;
}

/* main */

.main {
    position: relative;
    margin: 50px auto;
}

.section-title {
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}

.about-us-info {
    margin-bottom: 10px;
    padding: 0 20px;
}

/* products */
.passions {
    margin: 60px auto;
}

.passion {
    position: relative;
    height: 300px;
    background-size: cover;
    background-position: 0 50%;
    text-align: center;
    margin-bottom: 30px;
}
.first-passion {
    background-image: url('../static/ocean_640.jpg');
}

.second-passion {
    background-image: url('../static/mountains_640.jpg');
}

.third-passion {
    background-image: url('../static/muhlviertel_640.jpg');
}


/* contact */
.contact {
    text-align: center;
}

.contact h3 {
    margin: 20px 0 5px;
    text-transform: uppercase;
}

.contact-info {
    margin-top: 10px;
    font-size: 18px;
}

.contact-info .fas {
    padding-right: 10px;
}

/* footer */
.footer {
    padding: 0 10px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 20px;
    background-color: #333;
    color: white;
}

.icon-box a {
    margin: 0 5px;
    color: white;
    font-size: 25px;
    transition: color 0.3s;
}
.icon-box a:hover {
    color: #0086f3;
}

@media (min-width: 768px) {
    .nav-items {
        display: block;
    }
    .burger-icon {
        display: none;
    }
    .header {
        height: 400px;
        background-image: url('../static/path-gcae_1920.jpg');
    }
    .header-text h1 {
        font-size: 36px;
    }
    .header-text p {
        font-size: 18px;
    }

    .passion {
        height: 500px;
    }

    .first-passion {
        background-image: url('../static/ocean_1920.jpg');
    }

    .second-passion {
        background-image: url('../static/mountains_1920.jpg');
    }

    .third-passion {
        background-image: url('../static/muhlviertel_1920.jpg');
    }


}
