* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 24px;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

.square {
    width: 300px;
    height: 300px;
    border: 10px solid black;
    margin: 10px;
    padding: 20px;
}

.content {
    box-sizing: content-box;
    background-color: royalblue;
}

.border {
    background-color: lime;
}

.ex1 {
    width: 500px;
    background-color: white;
}

.v1-short {
    padding: 80px 40px 15px 5px;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 40px;
    margin-right: 50px;
}

.v2-short {
    padding: 10px;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 50px;
    margin-right: 30px;
}

.v3-short {
    padding: 20px 30px 40px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.v4-short {
    padding: 100px 50px;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-right: 40px;
}
